{% set current_page = "blog_detail" %}
{% extends "layouts/app.html" %}
{% block title %}All Blogs Website | {{ blog.title }}{% endblock %}
{% block content %}
<div class="container my-5 text-center">
  <div class="img-parent">
    {% if blog.image_link %}
    <img src="{{ blog.image_link }}" class="img-thumbnail" alt="Image Depicting Blog Title">
    {% else %}
    <img src="https://th.bing.com/th/id/OIP.OdV08mOw71O9qhdpUqdz_QHaE8?w=257&h=180&c=7&r=0&o=5&pid=1.7" class="img-thumbnail" alt="Default Blog Image">
    {% endif %}
  </div>
  <h1 class="mt-2">{{ blog.title }}</h1>
  <p class="lead">
    <em>{{ blog.created_on }}</em> by
    <strong>{{ blog.author }}</strong>
  </p>
</div>

<div class="bg-dark text-white">
  <div class="container py-5">
    <p class="lead">{{ blog.body }}</p>
  </div>
</div>

<div class="container my-3 text-center">
  <a href="/blogs/update/{{ blog.id }}" class="btn btn-outline-primary">
    Update Blog
  </a>
  <button
    type="button"
    class="btn btn-outline-danger"
    data-bs-toggle="modal"
    data-bs-target="#deleteModal">
    Delete the Blog
  </button>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalLabel">Delete Blog</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the blog with the title <strong>{{ blog.title }}</strong>? This process can not be reveresed.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Delete Blog</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}